*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #153677, #4e085f);
}
a {
    text-decoration: none;
}
input {
    width: 100%;
}
ul li {
    list-style: none;
    cursor: pointer;
    padding: 1rem 0;
    position: relative;
    padding-left: 2rem;
}
ul li::before {
    content: '';
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    background: url(/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 1.4rem;
    left: -0.5rem;
}
ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li span {
   font-size: 2.2rem;
   color: #555;
   cursor: pointer;
   padding: 0 1rem;
   border-radius: 4rem;
}
ul li span:hover {
    background: #a19d9a;   
}
ul li.checked {
    text-decoration: line-through;
}
ul li.checked::before {
    content: '';
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    background: url(/images/checked.png);
    background-size: cover;
    background-position: center;
    border-radius: 3rem; 
    top: 1.4rem;
    left: -0.5rem;
}
.container {
    padding: 2rem 2rem;
    background-color: #fff;
    border-radius: 1.5rem;
    width: 60vh;
}
.container .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .content-title h1{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}
.container .content-container .search-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    border-radius: 3rem;
    padding: 1.5rem 1.5rem;
    background-color: #e2dede;
}
.container .content-container .search-button input {
    outline: none;
    border: none;
    background: none;
    font-size: 1rem;
}
.container .content-container .search-button i{
   cursor: pointer;
}

.container .content-container .add-task-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3rem;
    margin-top: 2rem;
    background-color: #e2dede;
    
}
.container .content-container .add-task-button input {
    border: none;
    outline: none;
    background: none;
    padding-left: 1rem;
    font-size: 1rem;
    width: 100%;
}

.container .content-container .add-task-button button {
    width: 100%;
    padding: 1rem 0rem;
    border-radius: 3rem;
    border: none;
    background-color: #153677;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.container .content-container .add-task-button .button-add {
    width: 30%;
    
}
.container .content-container .list-task-container {
    padding-top: 1rem;
    width: 100%;
}



